html { 
    height: 100%;
    }

  body {
   font: 400 1em/1.5 "Montserrat"; 
   background: black;  
   text-align: center;
   justify-content: center;
    display: flex;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  button {
    margin: 0;
    height: 10%;
    width: 25%;
    border-bottom-left-radius: 20px;  padding: 5px;
         border-bottom-right-radius: 20px; padding: 5px;
         border-top-left-radius: 20px; padding: 5px;
         border-top-right-radius: 20px;
         font-size:150%;
         font-family: 'Montserrat', sans-serif;
     color: white;   
     background-color: black;
     border-bottom-color: darkorange;
     border-right-color: darkorange;
     padding: 5px 5px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px; 
   

  }
 .button:hover {
   background-color: white;
   color: white;
 }
  
  h2 { font-size: 100px;
   height: 50px;
   width: 80%;
   padding: 100px;
   font-family: 'Montserrat', sans-serif;
 }
  
  .linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, darkorange 20%, white 40%, black 60%, darkorange 80%, darkorange 100%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
  }

  p {
   color: rgb(75, 72, 72);
    font-weight: 25px;
    font-size: 20px;
    height: 12px;
   width: 100%;
   padding: 10px;
   font-family: 'Montserrat', sans-serif;
  }
  h1 {
    margin: 0;
    color: darkorange;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
    color: darkorange;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h3 {
  margin: 0;
    color: darkorange;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
 .topnav {
  background-color: black;
  position: center;
  top: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
/* Add a color to the active/current link */
.topnav a.active {
background-color: darkorange;
color: white;
}
.main {
    padding: 16px;
    margin-bottom: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: darkorange;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.topnav-centered a {
  position: auto;
  top: 0;
  left: 0;
  transform: none;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.fa-html5 {
    color: darkorange;
}
